.base {
    // Most for background and hover backrground colors 
    color: #2F3E47; // Charcoal
    color: #263138; // Gunmetal
    color: #1A242A; // Charleston Green
    color: #182026; // Eerie Black
}

.texts {
    color: #DBE4FF;
    color: #EAEDF6; // Ghost White
    color: #B6b3AE; // Silver Chalice
}

.others {
    color: #63A0B5; // Maximum Blue 
    color: #69B1E4; // Blue Jeans
    color: #268BD2; // Green Blue Crayola
    color: #7A7FDB; // Violet Blue Crayola
    color: #A4A6CB; // Blue Bell
    color: #F09971; // Light Salmon
    color: #EE6D6D; // Fuzzy Wuzzy
    color: #D63B3B; // Rose Madder
    color: #EC4E20; // Flame
    color: #F0743A; // Mandarin
    color: #E6A631; // Honey Yellow
    color: #C2A83E; // Metalic Gold
    color: #A5B034; // Straw
    color: #4CC977; // Emerald 
    color: #39A960; // Go Green
    color: #309353; // Spanish Green
}
 
 
 
 
 
 
 
 

